* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1110px;
  margin: auto;
}

li {
  list-style-type: none;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-6 {
  width: 50%;
}

.font-regular {
  font-weight: 400;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 18px 30px;
  background-color: #d7b399;
  color: white;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
  border: 2px solid transparent;
}

.btn svg {
  fill: #fff;
  transition: fill 0.3s;
}

.btn:hover {
  background-color: #fff;
  color: #d7b399;
  border: 2px solid #d7b399;
}

.btn:hover svg {
  fill: #d7b399;
}

@media screen and (max-width: 1024px) {
  .col-4 {
    width: 66.66%;
  }
  .col-2 {
    width: 33.33%;
  }
  .col-3 {
    width: 50%;
  }
  .btn {
    font-size: 12px;
    padding: 10px 20px;
  }
  .col-6 {
    width: 100%;
  }
  .container {
    padding: 0 25px;
  }
}


@media screen and (max-width: 578px) {
  .col-4,
  .col-3,
  .col-2 {
    width: 100%;
  }
}