.collection {
  position: relative;
  padding: 0 0 150px;
  z-index: 1;
}
.collection__item {
  position: relative;
  padding: 60px 30px 58px;
  max-height: 250px;
}
.before::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 250px;
  background-color: #f9f6f1;
  z-index: -1;
}
.after::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 250px;
  background-color: #f4f4f4;
  z-index: -1;
}
.collection__image {
  position: absolute;
  right: 15px;
  bottom: 0;
}
.collection__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.03em;
}

.collection__types {
  margin: 25px 0 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

.collection__dress {
  position: relative;
  text-align: right;
}

.collection__dress-1 {
  background-color: #f4f4f4;
}
.collection__dress-2 {
  background-color: #f9f6f1;
}

.collection__name {
  position: absolute;
  left: 30px;
  bottom: 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
}
.collection__dress-item {
  max-width: 70%;
}

.collection__btn {
  padding: 11px 30px;
}