.footer__top {
  padding: 80px 0;
  background-color: #212121;
}
.footer__description {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 157%;
  color: #fff;
  max-width: 200px;
}

.footer__title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__list li {
  margin-top: 10px;
}

.footer__list a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 157%;
  color: #cbcfd4;
}

.footer__bottom {
  padding: 25px 0;
}

.footer__bottom .row {
  justify-content: space-between;
}
.footer__bottom span,.footer__bottom a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #212121;
}
